<h1>Robots which suits to you:</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>ID</th>
      <th>Name</th>
      <th>Criterion</th>
    </tr>
  </thead>

  <tbody>
    <% @robots.each do |r| %>
      <tr>
        <td><%= r.type %></td>
        <td><%= r.id >= 10 ? "0" + r.id.to_s : "00" + r.id.to_s %></td>
        <td><%= r.price %></td>
        <td><%= r.integral %></td>
      </tr>
    <% end %>
  </tbody>
</table>
